include *.txt
include *.md
recursive-include src/le_package VERSION
recursive-include src/le_package/config *.py
recursive-include src/le_package/configs *.yaml
recursive-include models *.joblib
recursive-include models *.pkl
recursive-include models *.onnx

exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]